body {
  margin: 0;
  font-family: arial,helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Title{
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}


.SliderCenter
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:40%;
  margin-left: 30%;
  margin-bottom: 0.1%;
}

.PaperClass
{

  display:flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin-left: 30%;
  background-color: transparent !important;
}

.centerDiv
{
  display: flex;
  margin-left: auto;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.ImagePaper
{
  border-radius: 8px;
  
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 153px;
  max-width: 153px;
  max-height: 153px;
  min-height: 153px;
}

.SwipeableClass
{
  display: flex;
  margin-left: auto;
  margin-top: auto;
  justify-content: center;
}

.AboutMe
{
  color: #FFFFFF;
}

.centerSwitch
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Projects
{
  background-color: rgba(241,241,241,0.1);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 2px solid;
  border-color: #ba68c8;
  padding:30px;
  min-height: 370px;
  max-width: 300px;

}

.centerFrameworks
{
  display: flex;

}

@media screen and (min-width: 360px) {
  .swiper-container {
    width: 360;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}